/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* VARIABLES */
:root {
    --header-height: 100px;
}

/* COMMON */
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN */
/* header */
header {
    width: 100%;
    height: var(--header-height);
}

#btn-play {
    display: inline-block;
    background-color: lightcoral;
    padding: .3rem .5rem;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
}

/* main */
main {
    height: calc(100vh - var(--header-height));
    width: 100%;
    background-color: aquamarine;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    width: 100%;
}

.grid-item {
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}